<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MantisConnectBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/mantisbt-2.11.1/api/soap/mantisconnect.php"
                binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding"
                contract="Mantis_API.MantisConnectPortType" name="MantisConnectPort" />
        </client>
    </system.serviceModel>
</configuration>